@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
.bg-nav {
  background-image: linear-gradient(to right, #03e9fa, #148ff9);
}
.text-gradient {
  font-size: 25px;
  background-image: linear-gradient(to right, #03e9fa, #148ff9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.text-gradients {
  font-size: 30px;
  background-image: linear-gradient(to right, #03e9fa, #148ff9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.bgs {
  background-color: #09090ae3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.logo-spiner {
  animation: spiner 10s linear infinite;
}
@keyframes spiner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
